<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <bean id="storeService" class="com.msgsystems.training.service.StoreService"
    c:storeRepository-ref="storeRepository">
    </bean>


    <bean id="storeRepository" class="com.msgsystems.training.repository.StoreRepository">
        <property name="storeList">
            <list>
                <ref bean="Store"/>
            </list>
        </property>

    </bean>

    <bean id="Store" class="com.msgsystems.training.model.Store" >
        <constructor-arg value="1"/>
        <constructor-arg value="ZARA"/>
        <constructor-arg value="Cluj"/>
        <constructor-arg value="099876543"/>
        <constructor-arg>
                <list>
                    <ref bean="Product"/>
                    <ref bean="Product"/>
                </list>
        </constructor-arg>
        <constructor-arg value=""/>

    </bean>

    <bean id="Product" class="com.msgsystems.training.model.Product" scope="prototype">
        <constructor-arg value="1" ></constructor-arg>
        <constructor-arg value="bluza" ></constructor-arg>
        <constructor-arg value="145" ></constructor-arg>
        <constructor-arg value="Zara" ></constructor-arg>
    </bean>

</beans>